/* src/components/AcademicResearch/AcademicProjects.module.scss */

.academicProjects {
    margin: 20px;
    font-family: 'Arial', sans-serif; /* Adjust the font as needed */
    color: #4CAF50; /* Green for the body text */
    text-align: center; /* Center text in the container */
}

.sectionTitle {
    font-size: 24px; /* Main title size */
    font-weight: bold;
    margin-bottom: 15px;
    border-bottom: 2px solid #007bff; /* A line below the title */
    padding-bottom: 10px;
    display: inline-block; /* Keeps the border underneath the title */
}

.projectsContainer {
    display: flex;
    justify-content: center; /* Center columns horizontally */
    flex-wrap: wrap; /* Wrap columns if necessary */
    gap: 20px; /* Space between columns */
}

.column {
    flex: 1; /* Allow each column to grow */
    min-width: 300px; /* Set a minimum width for responsiveness */
    max-width: 400px; /* Set a maximum width for larger screens */
}

.project {
    margin-bottom: 20px; /* Space between projects */
    text-align: center; /* Center the text */
    border: 1px solid #e0e0e0; /* Optional: Add a border for better visibility */
    padding: 20px; /* Padding around project content */
    border-radius: 5px; /* Optional: Rounded corners */
}

.projectTitle {
    font-size: 20px; /* Project title size */
    font-weight: semi-bold;
    color: white; /* White color for project titles */
    padding: 5px; /* Padding around the title */
    border-radius: 3px; /* Rounded corners for titles */
}

.projectLink {
    color: green; /* Match the title color */
    
    &:hover {
        text-decoration: underline; /* Underline on hover */
    }
}

.projectDate {
    font-size: 16px;
    font-weight: normal; /* Regular weight for the date */
    color: #555; /* Grey color for the date */
    margin-left: 10px;
    color: white;
}

.projectDescription {
    font-size: 16px; /* Description size */
    line-height: 1.5; /* Line spacing */
    color: #4CAF50; /* Green color for description text */
}

.pagination {
    display: flex;
    justify-content: center; /* Center the pagination buttons */
    margin-top: 20px; /* Space above pagination */
}

.paginationButton {
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    border: none; /* No border */
    padding: 10px 15px; /* Button padding */
    margin: 0 5px; /* Space between buttons */
    cursor: pointer; /* Pointer on hover */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Button text size */
    transition: background-color 0.3s; /* Smooth background color transition */

    &:hover {
        background-color: #0056b3; /* Darker blue on hover */
    }

    &:disabled {
        background-color: #e0e0e0; /* Light grey for disabled */
        cursor: not-allowed; /* Not allowed cursor for disabled */
    }
}
